header {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;

  border-bottom: 5px solid #334355;
}

.logo-box {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  overflow: hidden;
}
.logo-box img {
  width: 150px;
  height: auto;
}

.menu-box {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.menu-box img {
  padding-right: 10px;
  width: 30px;
  height: 30px;
}
.header-menus {
  top: 95px;
  width: 360px;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  z-index: 1;
  background: #ffffff;

  text-align: center;
}
.header-menus li {
  width: 100%;
  list-style: none;
  border-bottom: 5px solid #f89a1c;
}
.header-menus li a {
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2em;
  color: #334355;
  text-decoration: none;
}
.header-menus li a:hover {
  cursor: pointer;
  color: #f89a1c;
}
