main {
  width: 100%;
  height: auto;
}

.summary {
  margin: 0 auto;
  padding: 50px 100px 50px 100px;
  width: 1080px;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.summary > img {
  padding: 20px auto 20px auto;
  width: 200px;

  border-radius: 30px;
  outline-offset: -5px;
  outline: 10px solid #27374d;
}

.summary > p {
  padding: 10px 55px;
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5em;

  color: #3f72af;
}

.experience {
  margin: 0 auto;
  padding: 50px 100px 50px 100px;
  width: 1080px;
  height: auto;

  display: flex;
  flex-direction: column;
}

.experience hr {
  border: 3px solid #334355;
}

.experience > h2 {
  font-family: "Raleway", sans-serif;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.5em;

  color: #3f72af;
  text-align: left;
}
